// @include edit();
//header
.el-main-header{
  @include col(4/4); margin-right: 0;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  transition: background .3s ease-in-out;
  @include responsive(phone){
    padding: 1em;
  }
}

//first-section
.el-first-section{
  @include col(4/4); margin-right: 0;
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 93%);
  padding: 12em 2em 10em 2em;
  background: #1d1e20;
  overflow: hidden;
  margin-top: 0;
}

//el-divider
.el-divider{
  @include col(4/4); margin-right: 0;
  height: 110vh;
  background: url(/resources/img/projectz/xps-oJEe7gWwWlo-unsplash.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -1;
  margin-top: -5em;
}

//el-main-footer
.el-main-footer{
  // clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(52% 5%, 100% 0, 100% 86%, 92% 100%, 25% 100%, 0 100%, 0 9%);
  margin-top: -5em;
  @include col(4/4); margin-right: 0;
  height: 100vh;
  background: $tertiary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
