// @include edit();
//header
.el-main-header{
  @include col(4/4); margin-right: 0;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0; left: 0;
  z-index: 500;
  transition: background .3s ease-in-out;
  @include responsive(phone){
    padding: 1em;
  }
}

//first-section
.el-first-section{
  @include col(4/4); margin-right: 0;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  padding: 16em 2em 14em 2em;
  background: #252629;
  overflow: hidden;
  margin-top: 0;
}

//el-divider
.el-divider{
  @include col(4/4); margin-right: 0;
  height: 110vh;
  background: url(/resources/img/projectz/divider.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -1;
  margin-top: -5em;
}
.ed-reinit-barba{
  margin-top: 35em !important;
}

//el-main-footer
.el-main-footer{
  clip-path: polygon(51% 3%, 100% 0, 100% 88%, 75% 100%, 0 100%, 0% 60%, 0 7%);
  margin-top: -5em;
  @include col(4/4); margin-right: 0;
  height: 100vh;
  background: $tertiary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ef-reinit-barba{
  margin-top: -45em !important;
}
