// @include edit();
//header
.el-main-header{
  @include col(4/4); margin-right: 0;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  transition: background .3s ease-in-out;
  @include responsive(phone){
    padding: 1em;
  }
}

//first-section
.el-first-section{
  @include col(4/4); margin-right: 0;
  background: $secondary-color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0;
  z-index: 10;
}


